---
---
@charset "utf-8";

:root {
	--color-text: #292f36;
	--color-bg: #fafaf7;
	--color-shadow: #acacac;
	--color-helyo-blue: #1786a3;
	--color-helyo-orange: #ff7f49;

	--font-titles: 'San Francisco', 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Segoe UI', 'Tahoma', 'Roboto', 'Droid Sans', sans-serif;
	--font-text: Georgia, Times, 'Times New Roman', serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: var(--color-bg);
	color: var(--color-text);
}

body {
	padding: 0;
	margin: auto;
	font-family: var(--font-text);
	line-height: 2em;
}

@import "./typography.scss";
@import "./container.scss";
@import "./hero.scss";
@import "./navbar.scss";
@import "./grid.scss";
@import "./card.scss";
@import "./post.scss";
@import "./reviews.scss";
@import "./footer.scss";

#main {
	overflow: hidden;
	position: relative;
	z-index: 5;
	background-color: #fafaf7;
	min-height: calc(100vh - 8rem);

	#navbar + & {
		min-height: calc(100vh - 3rem - 8rem);
	}
	#hero + & {
		min-height: calc(100vh - 21rem - 8rem);
	}
	#navbar + #hero + & {
		min-height: calc(100vh - 3rem - 21rem - 8rem);
	}

	.container {
		margin: 2rem auto;
		padding: 0 .5rem;
	}

	h1:first-child {
		padding-bottom: .5em;
		border-bottom: 1px solid var(--color-helyo-orange);

		& > a {
			&:not(:hover):not(:focus) {
				text-decoration: none;
			}
		}
	}
	h2 {
		padding-bottom: .25em;
		border-bottom: 1px dashed var(--color-helyo-orange);
	}
}
