---
---
@charset "utf-8";

:root {
	--color-text: #292f36;
	--color-helyo-blue: #1786a3;
	--color-helyo-orange: #ff7f49;

	--font-titles: 'San Francisco', 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Segoe UI', 'Tahoma', 'Roboto', 'Droid Sans', sans-serif;
	--font-text: Georgia, Times, 'Times New Roman', serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: #fafaf7;
	color: var(--color-text);
}

body {
	min-height: 100vh;
	padding: 0;
	margin: auto;
	font-family: var(--font-text);
	line-height: 2em;
}

@import "./typography.scss";
@import "./container.scss";
@import "./hero.scss";
@import "./navbar.scss";
@import "./reviews.scss";
@import "./footer.scss";

main {
	overflow: hidden;
	position: relative;
	z-index: 5;
	background-color: #fafaf7;
	min-height: calc(100vh - 3rem - 8rem);

	#hero + & {
		min-height: calc(100vh - 3rem - 13rem - 8rem);
	}

	.container {
		margin: 2rem auto;
		padding: 0 .5rem;
	}

	article,
	section {
		margin: 5rem auto;
		
		h1 {
			margin: 0;
			padding-bottom: .5em;
			border-bottom: 1px solid var(--color-helyo-orange);

			& > a {
				&:not(:hover):not(:focus) {
					text-decoration: none;
				}
			}
		}
	}
	h2 {
		padding-bottom: .25em;
		border-bottom: 1px dashed var(--color-helyo-orange);
	}
}
