---
layout: default
title: "Témoignages et avis"
---
<div class="container">
	<header>
		<h1>Témoignages et avis</h1>
		<p class="intro">Qui peut vraiment témoigner de mes compétences, si ce n'est des clients et collègues ?</p>
	</header>

	{% for review in site.data.reviews %}
	<article class="review">
		<header>
			<h2>
				<span>{{ review.author.name }}</span>{% if review.author.company %}, <span>{{ review.author.company }}</span>{% endif %}
			</h2>
		</header>
		
		<blockquote>
			{{ review.text | markdownify }}
		</blockquote>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Review",
				"itemReviewed": {
					"@type": "Organization",
					"image": "{{ '/images/logo-helyo.png' | absolute_url }}",
					"name": "{{ site.company_name }}",
					"email": "{{ site.email }}",
					"telephone": "{{ site.phone }}"
				},
				"author": {
					"@type": "Person",
					"name": "{{ review.author.name | smart_quotes }}",
					"memberOf": {
						"@type": "Organization",
						"name": "{{ review.author.company | smart_quotes }}"
					}
				},
				"name": "{{ review.title }}",
				"reviewBody": "{{ review.text | smart_quotes }}"
			}
		</script>

	</article>
	{% endfor %}
</div>
