<header id="hero" itemscope itemtype="https://schema.org/Organization">
	<h1 itemprop="alternateName">{{ site.title_short }}</h1>
	<h1 class="sr-only" itemprop="name">Helyo Sphere</h1>

	<h2 itemprop="description">Développement Web de qualité.</h2>

	<h3>
		<strong class="sr-only">Me contacter :</strong>
		<a href="mailto:{{ site.email }}" itemprop="email" rel="noindex nofollow" title="Envoyez-moi un courrier électronique">email</a>
		<a href="tel:{{ site.phone }}" itemprop="telephone" rel="noindex nofollow" title="Passez-moi un coup de fil">téléphone</a>
	</h3>
</header>
