<nav id="navbar">
	<div class="container">
		<div class="navbar-left">
			<a href="{{ '/' | relative_url }}" class="logo">Accueil</a>
			<a href="https://blog.corentin-hatte.eu/" target="_blank" class="blog" title="Je publie également un journal de mes interrogations et pensées personnelles, à vos risques et périls">Blog</a>
		</div>
		<div class="navbar-center">
			<a href="mailto:{{ site.email }}" class="icon email" title="M'envoyer un courrier électronique"><span>email</span></a>
			<a href="tel:{{ site.phone }}" class="icon phone" title="M'appeler"><span>téléphone</span></a>
		</div>
		<div class="navbar-right">
			<a href="{{ '/services-developpement-web.html' | relative_url }}" class="logo">Services</a>
			<a href="{{ '/qualite-web.html' | relative_url }}" class="logo">Qualité Web</a>
			<a href="{{ '/avis-temoignages-clients.html' | relative_url }}" class="logo">Avis</a>
		</div>
	</div>
</nav>
