<div id="navbar">
	<nav class="container" aria-label="Navigation principale du site">
		<div class="navbar-left">
			<a href="{{ '/' | relative_url }}" class="logo">Accueil</a>
		</div>
		<div class="navbar-center">
			<a href="mailto:{{ site.email }}" class="icon email" title="M'envoyer un courrier électronique"><span class="sr-only">E-mail</span></a>
			<a href="tel:{{ site.phone }}" class="icon phone" title="M'appeler"><span class="sr-only">Téléphone</span></a>
		</div>
		<div class="navbar-right">
			<a href="{{ '/services-developpement-web.html' | relative_url }}" class="logo">Services</a>
			<a href="{{ '/qualite-web.html' | relative_url }}" class="logo">Qualité Web</a>
			<a href="{{ '/avis-temoignages-clients.html' | relative_url }}" class="logo">Avis</a>
		</div>
	</nav>
</div>
