.card {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #fff;
	overflow: hidden;
	box-shadow: .5px 1.5px 3px var(--color-shadow);
	border-radius: var(--card-radius);

	& > * {
		flex: 0;
	}

	& + &,
	&:not(:first-child) {
		margin-top: 3rem;
	}


	&.announcement {
		margin-bottom: 2rem;
		border: 1px solid var(--color-helyo-blue);
		text-align: center;

		& > .card-header {
			background-color: #69d5f011;
		}
		& > .card-footer a.more-info {
			&:not(:focus) {
				background-color: #69d5f011;
			}
			text-align: inherit;
		}
	}

	& > .card-header {
		flex: 0;
		justify-self: flex-start;
		border-bottom: 4px solid var(--color-helyo-orange);

		h1,
		h2 {
			margin: 0;
			padding: 1rem;
			border: 0;

			& > a {
				display: block;
				color: inherit;

				&:not(:hover) {
					text-decoration: none;
				}
			}
		}
	}
	& > .card-content {
		flex: 1;
		padding: 1rem;

		& > p {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	& > .card-footer {
		flex: 0;
		justify-self: flex-end;
		background-color: #fcfcfc;
	}

	a.more-info {
		border: none;
		border-radius: 2px;
	}

	.cell > & {
		flex-grow: 1;
	}
}

