.card {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
	background-color: #fff;
	box-shadow: .5px 1.5px 3px var(--color-shadow);
	border-radius: 3px;

	& > * {
		flex: 0;
	}

	& + &,
	&:not(:first-child) {
		margin-top: 3rem;
	}

	& > .card-header {
		flex: 0;
		justify-self: flex-start;

		h1,
		h2 {
			margin: 0;

			& > a {
				&:not(:hover):not(:focus) {
					text-decoration: none;
				}
			}
		}
	}
	& > .card-content {
		flex: 1;
	}
	& > .card-footer {
		flex: 0;
		justify-self: flex-end;
	}

	a.more-info {
		border: none;
		border-radius: 2px;
	}

	.cell > & {
		flex-grow: 1;
	}
}

