.card {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #fff;
	overflow: hidden;
	box-shadow: .5px 1.5px 3px var(--color-shadow);
	border-radius: var(--card-radius);

	& > * {
		flex: 0;
	}

	& + &,
	&:not(:first-child) {
		margin-top: 3rem;
	}

	& > .card-header {
		flex: 0;
		justify-self: flex-start;
		border-bottom: 4px solid var(--color-helyo-orange);

		h1,
		h2 {
			margin: 0;
			padding: 1rem;
			border: 0;

			& > a {
				display: block;

				&:not(:hover, :focus) {
					text-decoration: none;
				}
			}
		}
	}
	& > .card-content {
		flex: 1;
		padding: 1rem;
	}
	& > .card-footer {
		flex: 0;
		justify-self: flex-end;
		background-color: #fcfcfc;
	}

	a.more-info {
		border: none;
		border-radius: 2px;
	}

	.cell > & {
		flex-grow: 1;
	}
}

