.container {
	display: block;
	max-width: var(--size-container);
	margin: auto;

	& > header {
		& > h1 {
			margin: 0;
			padding-bottom: .5em;
		}
		& > .intro {
			font-family: var(--font-titles);
			font-size: 1.3em;
			font-style: italic;
		}
	}
}
