.container {
	display: block;
	max-width: 60rem;
	margin: auto;

	& > header {
		& > h1 {
			margin: 0;
			padding-bottom: .5em;
			border-bottom: 1px solid var(--color-helyo-orange);
		}
		& > .intro {
			font-family: var(--font-titles);
			font-size: 1.3em;
			font-style: italic;
		}
	}
}
