.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -.5rem;

	@media screen and (min-width: 50rem) {
		margin: 0 -1rem;
	}

	.cell {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		padding: .5rem;

		@media screen and (min-width: 50rem) {
			flex-basis: 50%;
			padding: 1rem;
		}
	}

	&.forced {
		.cell {
			@media screen and (min-width: 50rem) {
				flex-shrink: 0;
				flex-grow: 0;
			}
		}
	}
}
