#hero {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding: 2rem .5rem;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	text-align: center;

	& > h1 {
		font-size: 5.8vw;
		line-height: 1.2em;
		color: #fff;
		
		& > a {
			&:not(:hover):not(:focus) {
				text-decoration: none;
			}
		}
	}
	& > h2 {
		font-size: 3.9vw;
		line-height: 1.2em;
		color: #fff;
	}
	& > h3 {
		color: #fff;
		margin-bottom: 2em;
	}
	& > h3 > a {
		display: inline-block;
		padding: .25em;
		border: 1px solid #fff;
		border-radius: 3px;
		color: #fff;
		min-width: 6.5em;
		text-decoration: none;
	}
	& > h3 > a:hover,
	& > h3 > a:focus {
		text-decoration: underline;
	}

	@media (orientation: portrait) {
		& > h1 {
			font-size: 9.4vw;
		}
		& > h2 {
			font-size: 9.3vw;
			color: #fff;
		}
	}
}

#hero,
footer {
	position: sticky;
	background-image: url('../images/background-pattern.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	@media screen and (max-height: 41rem) {
		position: relative;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-helyo-blue);
		opacity: 1;
		opacity: var(--opacity-hero, 1);
		mix-blend-mode: multiply;
		transition: background-color .23s linear;
	}
	& > * {
		position: relative;
		z-index: 1;
		flex: 0 1 auto;
	}
}
