#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 3rem;
	background-image: url('../images/background-pattern.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	& > .container {
		display: flex;
	}

	& + #main {
		margin-top: 3rem;

		[id] {
			scroll-margin-top: 3.5rem;
		}
	}

	a {
		flex: 0 0 auto;
		margin: .25em 0;
		padding: .25em .75em;
		font-family: var(--font-titles);

		&.icon {
			&::before {
				display: inline-block;
				width: 2em;
				height: 2em;
				text-align: center;
				border: 1px solid #fff;
				border-radius: 1em;
				background-color: rgba(255, 255, 255, 0);
				transition: all 120ms linear;
			}

			&:hover,
			&:focus {
				&::before {
					border-radius: 4px;
					background-color: var(--color-navlink-bg);
				}
			}
			&.email::before {
				content: '📧';
			}
			&.phone::before {
				content: '📞';
			}
		}
	}

	.navbar-left,
	.navbar-right {
		a {
			background-color: rgba(255, 255, 255, 0);
			border-radius: 2em;
			margin: .25em;
			transition: all 120ms linear;
			text-decoration: none;
			
			&:hover,
			&:focus {
				background-color: var(--color-navlink-bg);
			}
		}
	}

	.navbar-left {
		flex: 0 1 auto;
		display: flex;
		justify-content: flex-start;
	}
	.navbar-center {
		flex: 1 0 auto;
		display: flex;
		justify-content: center;

		@media screen and (max-width: 39.99rem) {
			justify-content: flex-end;
		}
	}
	.navbar-right {
		flex: 0 1 auto;
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 39.99rem) {
			display: none;
		}
	}
}
