.post {
	.post-details {
		padding: 1rem;
		border-top: 1px solid var(--color-helyo-blue);

		p {
			margin: .5rem 0;
		}
		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	.share-button {
		display: inline-block;
		padding: .25em .5em;
		color: var(--color-helyo-orange);
		border: 1px solid var(--color-helyo-blue);
		border-radius: var(--card-radius);

		&:not(:hover, :focus) {
			text-decoration: none;
		}
	}
}
