.post {
	.post-intro {
		// border-bottom: 1px dashed var(--color-helyo-orange);
	}
	.post-details {
		padding: 1rem 0 0;
		border-top: 1px dashed var(--color-helyo-orange);

		p {
			margin: .5rem 0;
		}
		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}
