h1,
h2,
h3,
h4 {
	margin-top: 1.5em;
	font-family: var(--font-titles);
	font-weight: 400;
	color: var(--color-helyo-blue);
}

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.7rem;
}
h3 {
	font-size: 1.3rem;
}

p {
	line-height: 1.5em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding-left: 1em; 
	text-indent: -.5em;
  
	&::before {
		content: '• ';
		color: var(--color-helyo-orange);
	}
}

a {
	color: inherit;
	text-decoration-thickness: 1px;

	&.more-info {
		display: block;
		padding: .5em;
		font-size: 1.3em;
		font-family: var(--font-titles);
		border-bottom: 1px dashed var(--color-helyo-blue);

		@media screen and (max-width: 39.99rem) {
			border: 1px solid var(--color-helyo-blue);
			text-align: center;

		}
		&:not(:hover):not(:focus) {
			text-decoration: none;
		}

		&::after {
			content: ' ⇾';
		}
	}
}

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
